body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

h2 {
    font-size: 34px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

h4 {
    font-size: 16px;
    font-weight: bold;
}

h5 {
    font-size: 14px;
    font-weight: bold;
}

h6 {
    font-size: 12px;
    font-weight: bold;
}



#header .header__top {
    padding: 37px 0;
}

.header__top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__top .header__top__menu ul li {
    display: inline-block;
}

.header__top .header__top__menu ul li a {
    padding: 25px;
    color: #000;
    font-size: 20px;
    text-decoration: none;
}

.header__top .header__top__menu ul li a:hover{
    text-decoration: underline;
}

#header .header__bottom {
    height: 50px;
    background-color: black;

}

.header__bottom ul {
    height: 50px;
}

.header__bottom li {
    display: inline-block;
    height: 100%;
}

.header__bottom nav ul>li>a {
    height: 100%;
    color: #fff;
    padding: 0 32px;
    display: flex;
    align-items: center;
    font-size: 20px;
    text-decoration: none;

    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 80%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}


.header__bottom nav ul > li > a:hover {
    background-size: 100% 2px;
}